<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/handymen">Handymen</a></li>
    <!-- <li><a href="/orders">Orders</a></li> -->
    <li><a href="/profile">Profile</a></li>
    <li><a href="/handyman/signup">Handyman Signup</a></li>
    <li><a href="/aboutUs">About Us</a></li>
    <% if (user && user.isAdmin) { %>
    <!-- Checking if user is an admin -->
    <li><a href="/admin/dashboard">Admin</a></li>
    <% } %> <% if (user) { %>
    <!-- Checking if user is logged in -->
    <li>
      <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
    <% } else { %>
    <li><a href="/auth/login">Login</a></li>
    <% } %>
  </ul>
</nav>
