<%- include('partials/header', { title: 'Sangisang Handymen App' }) %> <%-
include('partials/nav') %>

<section class="hero">
  <div class="hero-content">
    <h1>Sangisang Handymen Services</h1>
    <h2>Find a Handyman with Ease</h2>
    <p>
      Check the best prices and get connected to trusted and proven Handymen.
    </p>
    <p>24/7 Availability</p>
    <a href="/handymen" class="cta-button">Find Handymen</a>
  </div>
</section>

<% if (user) { %>
<p class="fix_user">
  Hello, <%= user.name %>!
  <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
</p>
<% } else { %>
<p class="centreLoginRegister">
  <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a>
</p>
<% } %> <%- include('partials/footer') %>
